.portfolioTitle {
  width: 100%;
}

.hover-container {
  position: relative;
  overflow: hidden; 
}

.hover-container img {
  transition: filter 0.3s ease-in-out;
}

.hover-container:hover img {
  filter: blur(4px); 
}

.rotate-text {
  transform: rotate(-10deg); /* Adjust the angle as needed */
}

.boxesDiv{
  width: 325px;
  height: 450px;
  margin-bottom: 35px
}

.portfolioCard{
  width: 420px;
}

.bluebox{
  top:42.8%;
  width: 100px;
}

.blueBar2{
  top:2%;
  right:-6%;
  width: 30px;
  height: 96%;
}
.blueBar3{
  top:2%;
  left:-6%;
  width: 30px;
  height: 96%;
}

@media (max-width: 576px) {
  .blueBar2{
    top:2%;
    right:-5%;
    width: 24px !important;
    height: 96%;
  }
  .blueBar3{
    top:2%;
    left:-5%;
    width: 24px !important;
    height: 96%;
  }
}


.detail-info {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #113065;
  color: white;
  width: 98%;
  min-height: 50%;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  border-top-left-radius: 10px;
}

.tecImageContainer img{
  filter: blur(0) !important;
  justify-self: end;
}

.imgCont2{
  height: 40px;
  width: 40px;
  padding:5px;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.detail-icons {
  position: absolute;
  top: 70px;
  left: 0; 
  right: 0; 
  display: flex; 
  justify-content: center; 
  gap: 30px; 
  opacity: 0; 
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; 
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; 
}

.hover-container:hover .detail-icons {
  opacity: 1;
  visibility: visible;
}

.hover-container:hover .detail-info{
  transform: translateY(0);
}

.icon-background {
  color: white;
  background-color: #113065;
  border-radius: 50%; 
  display: inline-flex; 
  align-items: center; 
  justify-content: center; 
  padding: 5px; 
  width: 33px;
  height: 33px; 
  margin-right: 5px; 
  box-shadow: 0 0 1px 2px #113065;
  transition: transform 0.3s ease;

}

.icon-background:hover i {
  transform: scale(1.2); 
  transition: transform 0.3s ease; 
}

