.homeDiv {
  height: 100vh;
}

.colorBlock {
  position: absolute;
  top: 25%;
  left: -5%;
  width: 110%;
  height: 50%;
  z-index: -1;
}

.outDiv {
  position: relative;
  z-index: 2;
}

.homeTitle {
  font-size: 60px;
  line-height: 60px;
  position: relative;
}

.outDiv > * {
  transition: transform 0.2s;
  will-change: transform;
}

.homeTitle::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 30%;
  background-color: #000;
}

.sign{
  font-family: 'Brush Script MT';
}